# Ignore Play! working directory #

bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project/
/project/project/*
/project/target/
/project/target/*
/target

/conf/application.conf

/public/data
/public/data/*
tmp/
test-result
server.pid
*.eml
/dist/
.cache
*.*save*
*.*~
*.DS_Store
/.target/
