@(values: Exhibition, formatter: java.text.DecimalFormat)

					<div class="row">
	<div class="col-md-12 col-xs-12-p cms-element" >
		<div class="col-md-12 col-xs-12-p media-main" >




								</div></div></div>
<!-- End Row 1 -->
		<div id="item-title" class="row" >						
	<div class="col-md-12 col-xs-12-p cms-element" >
		<div class="col-md-12 col-xs-12-p media-main">
										

								@if(values.number.isDefined){@formatter.format(values.number.get)} @if(values.name_en.isDefined){<div class="en">@values.name_en</div>}<div class="de">@values.name</a></div>
								
								</div></div></div>
<!-- End Row 2 -->
		<div id="audio-container" class="row" ">						
	<div class="col-md-12 col-xs-12-p cms-element" >
		<div class="col-md-12 col-xs-12-p media-main" >





	@if(values.file.isDefined){
		<!-- The jPlayer div must not be hidden. Keep it at the root of the body element to avoid any such problems. -->
		<div id="jquery_jplayer_1" class="cp-jplayer"></div>
			<div class="cp-wrapper"> <!-- A wrapper to emulate use in a webpage and center align -->
				<!-- The container for the interface can go where you want to display it. Show and hide it as you need. -->
				<div id="cp_container_1" class="cp-container">
					<div id="cp-inner-wrapper">
						<div class="cp-buffer-holder"> <!-- .cp-gt50 only needed when buffer is > than 50% -->
							<div class="cp-buffer-1"></div>
							<div class="cp-buffer-2"></div>
							</div>
						<div class="cp-progress-holder"> <!-- .cp-gt50 only needed when progress is > than 50% -->
							<div class="cp-progress-1"></div>
							<div class="cp-progress-2"></div>
						</div>
						<div class="cp-circle-control"></div>
						<ul class="cp-controls">
							<li><a class="cp-play" tabindex="1">play</a></li>
							<li><a class="cp-pause" style="display:none;" tabindex="1">pause</a></li> <!-- Needs the inline style here, or jQuery.show() uses display:inline instead of display:block -->
						</ul>
						<div class="jp-volume-bar">
							<div class="jp-volume-bar-value"></div>
						</div>
					</div>
				</div>
		<script type="text/javascript">
			$(document).ready(function(){
				/*
				* Instance CirclePlayer inside jQuery doc ready
				*
				* CirclePlayer(jPlayerSelector, media, options)
				* jPlayerSelector: String - The css selector of the jPlayer div.
				* media: Object - The media object used in jPlayer("setMedia",media).
				* options: Object - The jPlayer options.
				*
				* Multiple instances must set the cssSelectorAncestor in the jPlayer options. Defaults to "#cp_container_1" in CirclePlayer.
				*/
				var myCirclePlayer = new CirclePlayer("#jquery_jplayer_1",
				{
					mp3:"../@values.file.get"
				}, {
					supplied: "mp3",
					cssSelectorAncestor: "#cp_container_1"
				});
			});
		</script>

					
	}else{
		<div class="col-md-12 col-xs-12-p ">
			<i>@Messages("no_content")</i>
		</div>
		}
		
	</div>

 </div>
</div>

