@(values: Exhibition)

				<div class="row" style="height: 100%">
					<div class="col-md-12 col-xs-12-p cms-element"  style="height: 100%">
						<div class="col-md-12 col-xs-12-p media-main"  style="height: 100%">
						
						
                        	<div id="item-text" class="col-md-12 col-xs-12-p text-left">
                        	
                        	
                        	<!--  
                        		<span class="de">@Html(values.comment.getOrElse(""))</span>
								@if(values.comment_en.isDefined){<span class="en">@Html(values.comment_en.getOrElse(""))</span>}
							-->
							
							
							
							
							</div>
							
    <link rel="stylesheet" href="../assets/css/leaflet.css" />
    <link rel="stylesheet" href="../assets/js/leaflet/leaflet.draw/leaflet.draw.css" />
        <style type="text/css">
        html, body, .container, #photo {
        height: 100%;
        width: 100%;
        }
        
        html, body, #photo {
            width: 100%;
            padding: 0;
            margin: 0;
        }
        #textcontainer {
        	position: fixed;
        	bottom: 0px;
        	width: 100%;
        	height: 100px;
        	background: black;
        }
        
        #textcontainer p {
       		font-family: sans-serif;
        	color: white;
        	font-size: 20px;
        }        
    </style>
							
   <div id="photo"></div>
    <script src="../assets/js/leaflet/leaflet.js"></script>
    <script src="../assets/js/leaflet/leaflet.draw/leaflet.draw.js"></script>
    <script src="../assets/js/leaflet/leaflet.draw/leaflet.draw-src.js"></script>
    <script type="text/javascript" src="../assets/js/leaflet/L.TileLayer.Zoomify.js"></script>  
    <script type="text/javascript">
    var map = L.map('photo').setView(new L.LatLng(0,0), 0);

    L.tileLayer.zoomify('http://www.musethno.uzh.ch/static/zoom/layer/', { 
        width: 51472, 
        height: 25449,
        tolerance: 0.8,
        attribution: ''
    }).addTo(map);
	var drawnItems = new L.FeatureGroup();
	map.addLayer(drawnItems);

	var drawControl = new L.Control.Draw({
		draw: {
			position: 'topleft',
			polygon: {
				allowIntersection: false,
				drawError: {
					color: '#b00b00',
					timeout: 1000
				},
				shapeOptions: {
					color: '#bada55'
				},
				showArea: true
			},
			polyline: {
				metric: false
			},
			circle: {
				shapeOptions: {
					color: '#662d91'
				}
			}
		},
		edit: {
			featureGroup: drawnItems
		}
	});
  // map.addControl(drawControl);

	map.on('draw:created', function (e) {
		var type = e.layerType,
			layer = e.layer;

		if (type === 'marker') {
			layer.bindPopup('A popup!');
		}

		drawnItems.addLayer(layer);
	});

        
    </script>
<div id="textcontainer">
</div>
							
							
							
							
