@(myForm: Form[(String, String)])

@import helper._

@main(Messages("user")) {

	<h1>@Messages("password.change")</h1>
	<p>@Messages("password.change.description")</p>

	@if(myForm.hasErrors) {
        <div class="alert-message error">
            <p><strong>Oops</strong> Please fix all errors</p>
        </div>
    }
	
	
	@form(routes.Users.insertPassword) {
	
	@inputPassword(myForm("password"), '_label -> Messages("password"))
	@inputPassword(myForm("password2"), '_label -> Messages("password2"))

	
	<div class="form-actions">
        <input type="submit" class="btn btn-primary" value="@Messages("change")">
        <a href="@routes.Users.list" class="btn btn-default">@Messages("back")</a>
    </div>	

	}
	
}