@(id: Long, parent_id: Long, values: Exhibition, myForm: Form[Exhibition], types: Seq[(String, String)])(implicit flash:Flash)



@import helper._
@implicitField = @{ FieldConstructor(fieldConstructor.f) }

@main(Messages("")) {

	@if(flash.get("success")) {<p class="alert alert-success">@Messages(flash.get("success").get)</p>}

	@if(myForm.hasErrors) {
		@includes.insert.error(myForm)
	}

	@includes.nav(parent_id)
		

	@includes.insert.form(id, parent_id, values, myForm, types)
	

	@if(values.type_id.isDefined && (values.type_id.get==4 || values.type_id.get==5)){
	<div class="row">
		<div class="col-md-6">
		<h2>@Messages("file")</h2>
			@form(action = routes.Exhibitions.insertFile(id, parent_id, 1), 'enctype -> "multipart/form-data") {
			<input type="file" name="file">
			<input class="btn btn-primary" type="submit" value="@Messages("add")">

		@if(values.file.isDefined){
			<a class="btn btn-danger" href="@routes.Exhibitions.deleteFile(id, parent_id, 1)">@Messages("delete")</a>
		}
	}

	@* show form for background image only for video *@
	
	@if(values.type_id.get==5){
		
		<h2>@Messages("file.associated")</h2>

		@form(action = routes.Exhibitions.insertFile(id, parent_id, 2), 'enctype -> "multipart/form-data") {

			<input type="file" name="file">
			<input class="btn btn-primary" type="submit" value="@Messages("add")">

			@if(values.file2.isDefined){
				<a class="btn btn-danger" href="@routes.Exhibitions.deleteFile(id, parent_id, 2)">@Messages("delete")</a>
			}
		}
	}

	</div>

	
	<div class="col-md-6">
	<h2>@Messages("preview")</h2>

	@if(values.type_id.isDefined && values.file.isDefined){
		@values.type_id.get match{
			case 1 => {
				@includes.preview.text(values)
			}
			case 3 => {
				@includes.preview.image(values)
			}
			case 4 => {
				@includes.preview.audio(values)
			}

			case 5 => {
				@includes.preview.video(values)
			}
			
		}

	}else{
		@Messages("no_preview")
	}

	</div>
</div>
}


@if(values.type_id.isEmpty){
	@includes.insert.empty(id, parent_id, values, myForm, types)
}



@if(values.type_id.isDefined && values.type_id.get==3){
	@includes.insert.gallery(id, parent_id, values)
}


@if(values.type_id.isDefined && List(1,3,4,5).contains(values.type_id.get)){
<script src="@routes.Assets.at("js/tinymce/tiny_mce.js")"></script>
<script src="@routes.Assets.at("js/tinymce/useTinyMCE.js")"></script>   
}


@if(values.type_id.isDefined && values.type_id.get==3){
<script>

$(document).ready(function() {
	

	//
	//$("a.captionToEdit").click(function(){
	//
	//	$(this).parent().toggle()
	//	$(this).parent().parent().children('span.captionEdit').toggle()
	//	event.preventDefault()
	//
	//})


	// support for UTF-8
	$("form#editCaption").submit(function(){

		var dataSerialize = $(this).serializeArray()
		var elem = $(this).parent().parent().children('span.caption2')


		$.ajax({
        type: 'POST',
        url: $(this).attr('action'),
        data: dataSerialize,
        dataType: 'json',
        success: function(result) {
          console.log('revoke response: ' + result.status +" "+ result.caption)
          elem.children('span.caption3').text(result.caption)
        },
        error: function(e) {
          console.log(e.status)
        }
      })

		// toggle back
//      elem.toggle()
//		$(this).parent().toggle()

		event.preventDefault()
	})


})
	
</script>
}

@if(values.type_id.isDefined && values.type_id.get==6){
	@includes.insert.map(values)
	}
	

}

