@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="anthronaut" >
    <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.png")">

    <title>Backend Medienguidesystem</title>

    <!-- Bootstrap core CSS -->
    <link href="@routes.Assets.at("css/bootstrap.css")" rel="stylesheet">
    <!-- Glyphicons -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <!--<link href="@routes.Assets.at("css/bootstrap-glyphicons.css")" rel="stylesheet">-->
    <link href="@routes.Assets.at("css/fineuploader-3.6.4.css")" rel="stylesheet">

    <!-- Custom styles for this template -->
		<style>
            body	{
                      min-height: 2000px;
                      padding-top: 50px;
                 	}
        </style>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="@routes.Assets.at("js/jquery.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap.js")"></script>
  </head>
<!-- NAVBAR
================================================== -->
  <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="@routes.Admins.index">Backend Tabletguide</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
               
                
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle active" data-toggle="dropdown">Ausstellungen <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    
                    
                    <li @if(title=="exhibition"){class="active"}><a href="@routes.Exhibitions.list">Ausstellungsmanagement</a></li>
                    <li><a href="@routes.Exhibitions.add">Neue Ausstellung Erstellen</a></li>
                  </ul>
                  </li>
                  <li @if(title=="eximport"){class="active"}><a href="@routes.Admins.eximport">Export & Import</a></li>
                  <li @if(title=="user"){class="active"}><a href="@routes.Users.list">Benutzer</a></li>
                  <li @if(title=="doc"){class="active"}><a href="@routes.Admins.docs">Anleitung</a></li>

                  <li><a href="@routes.Application.logout">@Messages("logout")</a></li>
                  </ul>
            </div>
          </div>
        </div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container">
    	@content
   

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">@Messages("back_top")</a></p>
        <p>&copy; 2015 <a href="http://musethno.uzh.ch">Völkerkundemuseum der Universität Zürich</a></p>
      </footer>

    </div><!-- /.container -->


    
  </body>
</html>