@(values: Exhibition, types: Seq[(Option[Long], String, Option[String])], formatter: java.text.DecimalFormat)(implicit currentLang: Lang)
@mainP(""
,(values.level match{
	case 3 => routes.Application.submenu(values.sub.get)
	case 2 => routes.Application.menu(values.sub.get)
	case _ => routes.Application.index
}).toString
){
	@if(values.type_id.isDefined){
		@values.type_id.get match{
				case 1 => {
					@includes.text(values)
	            }
				case 2 => {
					<div class="row">
						<div class="col-md-12 col-xs-12-p cms-element" >
							<div class="col-md-12 col-xs-12-p media-main" >
						  }
				case 3 => {
					@includes.gallery(values, formatter)
				}
				case 4 => {
					@includes.audio(values, formatter)
				}
				case 5 => {
					@includes.video(values, formatter)						
				}		
				case 6 => {
					@includes.map(values)	
	                      }
				case _ => {}
		}
	}




						@defining(Exhibition.Tour.list(values.id.get)) { tour=>
						@for(i <- 0 to tour.size-1){
						@if(tour(i).tournumber.isDefined){
						<div class="col-md-12 col-xs-12-p tournav" style="font-size: 1.em">
						
																Station @tour(i).tournumber von 20

						</div>
						}
						
						<div class="col-md-12 col-xs-12-p tournav">
						
			

									@if(tour(i).prev.isDefined){
									<a href="/detail/@tour(i).prev"><button type="button" class="btn btn-info btn-lg" style="margin-right: 65px">Zurück</button></a>
									}
									@if(tour(i).nextcomment.isDefined){

									
									<!-- Modal -->
									
									<!-- Trigger the modal with a button -->
									
										
									<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#tourModal">Weiter</button>
									
								

												<div id="tourModal" class="modal fade" role="dialog">
												  <div class="modal-dialog">
												
													<!-- Modal content-->
													<div class="modal-content">
													  <div class="modal-header">
												
												
													  </div>
													  <div class="modal-body">
														<p>									<div class="nextcomment">@tour(i).nextcomment</div></p>
													  </div>
													  <div class="modal-footer" style="text-align: center">
												@if(tour(i).tournumber.get == 20){			
												<a href="http://130.60.62.125/menu/313"><button type="button" class="btn btn-info btn-lg">Ausgang</button></a>
												} else {
												<a href="/detail/@tour(i).next"><button type="button" class="btn btn-info btn-lg">Weiter</button></a>
												}
													  </div>
													</div>
												
												  </div>
												</div>
									} else {
									@if(tour(i).next.isDefined){
									
									<a href="/detail/@tour(i).next"><button type="button" class="btn btn-info btn-lg">Weiter</button></a>
									
									}
									
									}
						}
						}
		</div>

		</div>
<!--
			<div class="col-md-12 col-xs-12-p spec-text">
			<br />
			@if(values.type_id.isDefined){
				@Messages("specText."+types.filter((a: (Option[Long], String, Option[String])) => a._1==values.type_id).head._3.getOrElse(""))
			} 
			<br />
			<br />
            </div>

-->
            
		 <!--
            <div class="de col-md-12 col-xs-12-p">
				@if(values.comment.isDefined && values.type_id.isDefined && values.type_id.get!=6 && values.type_id.get!=1){
					@if(List(4,5).contains(values.type_id.get)){
						@Html(values.comment.get)
					}else{
						@values.comment.get
					}
				}
				<br />
				<br />
			</div>
		@if(values.comment_en.isDefined){
            <div class="en col-md-12 col-xs-12-p">
				@if(values.comment.isDefined && values.type_id.isDefined && values.type_id.get!=6 && values.type_id.get!=1){
					@if(List(4,5).contains(values.type_id.get)){
						@Html(values.comment_en.get)
					}else{
						@values.comment_en.get
					}
				}
				<br />
				<br />
			</div>
		}
		-->

	</div>
	
</div>
<!--
<div class="row">


			<div class="col-xs-4 col-md-5">
			</div>
			<a class="col-xs-4 col-md-2 myButton btn-outline-inverse" style="min-width: 99px;" href="@(
			values.level match{
				case 3 => routes.Application.submenu(values.sub.get)
				case 2 => routes.Application.menu(values.sub.get)
				case _ => routes.Application.index
			})">@Messages("back")</a><br>&nbsp;
			<div class="col-xs-4 col-md-5">
			</div>
</div>

   

<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
		<div class="modal-content">
			
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3 class="modal-title"></h3>
			</div>
			
			<div class="modal-body">
			</div>
	
			<div class="modal-footer">
			<br />
				<button class="btn btn-outline-inverse-menu" data-dismiss="modal">@Messages("close")</button>
			</div>
   	
   	</div>
  	</div>
</div>


}



