

@import helper._

<!DOCTYPE html>
<html lang="html">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="anthronaut" >
    <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.png")">

    <title>Backend Medienguidesystem</title>

    <!-- Bootstrap core CSS -->
    <link href="@routes.Assets.at("css/bootstrap.css")" rel="stylesheet">
    <!-- Glyphicons -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <!--<link href="@routes.Assets.at("css/bootstrap-glyphicons.css")" rel="stylesheet">-->
    <link href="@routes.Assets.at("css/fineuploader-3.6.4.css")" rel="stylesheet">

    <!-- Custom styles for this template -->
		<style>
            body	{
                      min-height: 2000px;
                      padding-top: 50px;
                 	}
        </style>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="@routes.Assets.at("js/jquery.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap.js")"></script>
  </head>
    <body>
<div class="container">
  <div class="row">
  <h2>Installation MGS</h1>
    <div class="col-sm-12">
      <h1>Adminkonto setzen</h2>
      
     Bitte E-Mailadresse des Adminkontos eingeben.

	@form(routes.Users.init) {
	

	<div class="form-actions">
		
        <input type="submit" class="btn btn-primary" value="add">
    </div>	

	}
	

    </div>
  </div>
</div>
    </body>
</html>

