@(exhibition: Exhibition, menus: List[Exhibition])(implicit  currentLang: Lang)


@mainP(""){

<div class="row">
			@if(exhibition.file2.isDefined){
			<img class="title-img" src="@exhibition.file2.get">
			}
</div>

<div class="row">

@menus.map{m=>
	@if(m.type_id.isDefined){
	<a href="@routes.Application.detail(m.id.get)
	} else {
	<a href="@routes.Application.menu(m.id.get)
	}
	" class="col-xs-12 col-md-12 menu-element text-center">
		<span class="en">@m.name_en</span>
		<span class="de">@m.name</span>
	</a>

}

</div>

<div class="row" style="display:none">
    <br />
			<div class="col-xs-5 col-md-5" >

			</div>
			<a class="col-xs-2 col-md-2 myButton btn-outline-inverse" href="@routes.Application.index">@Messages("back")</a><br>&nbsp;
			<div class="col-xs-5 col-md-5">
			</div>
</div>



}


